{% block content %}
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'LittleLemonAPI/css/bootstrap.css' %}" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'LittleLemonAPI/style.css' %}" />
<style>
    .btn{
        color:#fff;
        background-color:#e74c3c;
        outline: none;
        border: 0;
        color: #fff;
        padding:10px 20px;
        text-transform:uppercase;
        margin-top:50px;
        border-radius:2px;
        cursor:pointer;
        position:relative;
    }
</style>
<div style="padding-top: 100px;  text-align: center; background-color: rgba(156, 200, 175,0.7); height: 100%">
    <h1>Change Avatar</h1>
    <img  id="photo" src="{{ user.profile.avatar.url }}">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Save</button>
        <button onclick="window.location.href = '{% url 'home' %}'" class="btn">Back</button>
    </form>
</div>
{% endblock %}
