{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'LittleLemonAPI/css/bootstrap.css' %}" />
<link rel="stylesheet"
      type="text/css"
      href="{% static 'LittleLemonAPI/style.css' %}" />
<header>
    <title>Menu LittleLemon</title>
</header>
<nav>
    <div class="nav" id="config" style="z-index: 2; background-color: rgba(100, 100, 100, 0.5)">
        <div class="container">
            {% if user.is_authenticated %}
                <ul>
                    <li class="Home"><a class="" aria-current="page" href="{% url 'home' %}">Home</a></li>
                    <li class="About"><a class="" href="{% url 'home' %}#About">About</a></li>
                    <li class="Menu"><a class="" href="{% url 'home' %}#Menu">Menu</a></li>
                    <li class="Contact"><a class="" href="{% url 'home' %}#Contact">Contact</a></li>
                    <div class="usermenucont">
                        <a style="display: flex; justify-content: space-between; align-items: center; height: 65px;" href="{% url 'Cart' %}">
                            <li><img style="width: 40px; height: 40px;" src="{% static 'LittleLemonAPI/images/purchase.png' %}"></li>
                            <p class="purchase">{{ cartItems }}</p>
                        </a>
                        <li><img class="rounded-circle account-img" style="width: 40px; height: 40px" src="{{ user.profile.avatar.url }}" alt="{{ profile.user.username }}'s avatar"><a href="#">{{ user.username }}</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'Profile' username=user.username %}">Profile</a></li>
                                <li><a href="{% url 'Add_Menu' %}">Add Items menu</a></li>
                                <li><a href="{% url 'Add_Category' %}">Add Category</a></li>
                                <li><a href="">View Items Menu</a></li>
                                <li><a href="">View Categories</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            {% else %}
                <ul>
                    <li class="Home"><a class="" aria-current="page" href="{% url 'home' %}">Home</a></li>
                    <li class="About"><a class="" href="{% url 'home' %}#About">About</a></li>
                    <li class="Menu"><a class="" href="{% url 'home' %}#Menu">Menu</a></li>
                    <li class="Contact"><a class="" href="{% url 'home' %}#Contact">Contact</a></li>
                    <li class="login"><a class="" href="{% url 'login' %}">Login</a></li>
                    <li class="sign_up"><a class="" href="{% url 'Sign_Up' %}">Sign Up</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<body>
    <div class="filtering">

    </div>
    <div class="container" style="padding-top: 10%; display: flex; flex-wrap: wrap">
        {% for item in items %}
            <div class="card" style="width: 30%; margin: 10px; text-align: center">
                <h2>{{ item.title }}</h2>
                <img style="" src="{{ item.image.url }}" class="card-img-top" alt="...">
                <div class="card-body bg-light">
                    <h5 class="card-title">Category: {{ item.category }}</h5>
                    <p class="card-text">Price: {{ item.price }}</p>
                    <p class="card-text">Price after Tax: </p>
                    <button data-product="{{ item.id }}" data-action="add" class="add-to-cart" ">Add to cart</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination" style="margin-left: 15%; margin-top: 1%">
        <span class="step-links">
            <ul class="pagination justify-content-center">
                {% if items.has_previous %}
                    <a style="color: #000; border: 0.5px solid black" href="{% url 'Menu' %}?page={{ items.previous_page_number }}">Anterior</a>
                {% endif %}
                    {% for page in items.paginator %}
                        <li class="page-item"><a style="color: #000;" class="page-link" href="{% url 'Menu' %}?page={{ page.number }}">{{ page.number }}</a></li>
                    {% endfor %}
                {% if items.has_next %}
                    <a style="color: #000; border: 0.5px solid black" href="{% url 'Menu' %}?page={{ items.next_page_number }}">Siguiente</a>
                {% endif %}
            </ul>
        </span>
    </div>
<script TYPE="text/javascript" src="{% static 'LittleLemonAPI/cart.js' %}"></script>
<script type="text/javascript">
    var user = '{{ request.user }}'
    function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');
</script>
</body>
</html>